---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import prev1 from "../assets/project-one-prev.webp";

const projects = [
	{
		title: "Project One",
		description: "A brief description of my first project",
		technologies: ["React", "Node.js", "MongoDB"],
		link: "https://littlegreatminds.netlify.app/",
		img: prev1,
	},
	{
		title: "Project Two",
		description: "A brief description of my second project",
		technologies: ["Vue", "Express", "PostgreSQL"],
		link: "#",
	},
	{
		title: "Project Three",
		description: "A brief description of my third project",
		technologies: ["Astro", "Tailwind", "GraphQL"],
		link: "#",
	},
];
---

<Layout title="Portfolio">
	<section class="hero">
		<h1>Richard A. Jiménez P.</h1>
		<h4>Web App Developer</h4>
		<p>
			Passionate about creating beautiful and functional web experiences
			for user's experience as for business goals.
		</p>
	</section>

	<section class="about">
		<h2>About Me</h2>
		<p>
			I'm a web developer with experience in modern web technologies. I
			love building responsive, accessible, and performant websites that
			speak for themselves.
		</p>
	</section>

	<section class="projects">
		<h2>My Work</h2>
		{
			projects.map((project) => (
				<ProjectCard
					img={project.img}
					title={project.title}
					description={project.description}
					technologies={project.technologies}
					link={project.link}
				/>
			))
		}
	</section>

	<section class="contact">
		<h2>Contact</h2>
		<p>Email: rjtech@disroot.org</p>
		<p>
			<a target="_blank" href="https://github.com/R1c4ar6">GitHub</a> •
			<a
				target="_blank"
				href="www.linkedin.com/in/richard-jiménez-9a57b41b4">LinkedIn</a
			> •
			<a target="_blank" href="https://twitter.com">Twitter</a>
		</p>
	</section>
</Layout>
